@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ececec;
}

svg path {
    color: white !important;
}

/* TABLE */
.tbl_id {
    width: 100px;
}

.td-id {
    display: none;
    text-align: left;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 850px) {
    .main-content {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    .sidebarModal {
        display: block;
    }

    th {
        display: none !important;
    }

    td {
        display: grid !important;
        gap: 0.5rem;
        grid-template-columns: 11ch auto !important;
        padding: 0.5rem 1rem !important;

        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

    .action_btn {
        width: 10rem;
    }

    .table-data-container {
        margin-bottom: 20px;
        gap: 20px !important;
    }

    table {
        border: none !important;
        border-collapse: separate;
        border-spacing: 0 10px;
    }

    table th,
    table td {
        border: none !important;
    }

    .table-data-container {
        display: block;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .table-data-container td {
        display: block;
        padding: 10px;
    }
    
}